body {
  color: $offWhite;
  background: $black;
}

.contentContainer {
  max-width: 1650px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.blogWelcome,
.contactWelcome h1 {
  margin: 10% 5%;
  display: inline-block;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Tulpen One", cursive;
  text-align: center;
  color: $offWhite;
  background: $rustRed;
  padding: 0.8rem 2.1rem;
  transition: color, background-color 0.3s ease;
}

.btn:focus,
.btn:hover {
  background: $offWhite;
  color: $rustRed;
}
