nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
}

.navbarLinks ul {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    display: block;
    color: $offWhite;
    transition: $transitionEffect;
  }

  a:focus,
  a:hover {
    color: $dustyOrange;
  }
}

.brandTitle {
  padding: 2rem;
}

.hamburgerMenu {
  display: none;
}

/* ----------Media Queries---------- */
@media (max-width: 600px) {
  .navbarLinks ul {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .hamburgerMenu .fas {
    font-size: 30px;
    transition: $transitionEffect;
  }

  .hamburgerMenu .fas:focus,
  .hamburgerMenu .fas:hover {
    color: $dustyOrange;
    cursor: pointer;
  }

  .brandTitle {
    padding: 2rem 0;
  }
}
