/* ---Full Screen Nav--- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
}

.navbarLinks {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    padding: 1rem 1.7rem;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    display: block;
    color: $offWhite;
    transition: $transitionEffect;
  }

  a:focus,
  a:hover {
    color: $dustyOrange;
  }
}

.brandTitle {
  padding: 2rem;
}

/* ---Hamburger Menu--- */
.hamburgerMenu {
  display: none;

  div {
    width: 30px;
    height: 3px;
    background: $offWhite;
    margin: 5px;
    transition: all 0.6s ease-in-out;
  }
}

.hamburgerMenu:hover .line,
.hamburgerMenu:focus .line {
  background: $dustyOrange;
}

.burgerBrandTitle {
  display: none;

  p {
    margin-left: 3.8rem;
  }
}

/* ---Media Queries--- */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    position: fixed;
    justify-content: space-between;
    margin: 0;
    background: rgba(17, 16, 16, 0.9);
    padding: 0 1rem;
    height: 70px;
    width: 100%;
    z-index: 100;
  }

  .navbar {
    margin-bottom: 2rem;
  }

  .navbarLinks {
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 70px;
    background: rgba(17, 16, 16, 0.9);
    width: 35%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    z-index: 30;
  }

  .navbarLinks li {
    padding: 1rem;
    opacity: 0;
  }

  .hamburgerMenu {
    display: block;
    cursor: pointer;
  }

  .brandTitle {
    display: none;
  }

  .burgerBrandTitle {
    display: block;
    position: relative;
    right: 41%;
  }
}

/* ---Toggler to display navbarLinks on the page--- */
.navActive {
  transform: translateX(0%);
}

/* ---Animation to make <li> items appear--- */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animate .line1 {
  transform: rotateZ(-405deg) translate(-5px, 6px);
}

.animate .line2 {
  opacity: 0;
}

.animate .line3 {
  transform: rotateZ(405deg) translate(-5px, -6px);
}
