body {
  font-family: "Chathura", sans-serif;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
}

header nav {
  font-family: "Chathura", sans-serif;
  font-size: 38px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
  font-weight: bold;
}

.brandTitle {
  font-family: "Tulpen One", cursive;
  font-size: 45px;
}

h1 {
  font-family: "Tulpen One", cursive;
  font-size: 261.4px;
  text-align: left;
  letter-spacing: 2.4px;
  font-weight: initial;
}

.blogWelcome h1,
.contactWelcome h1 {
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  font-weight: bold;
  text-align: left;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

h1 span {
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  font-weight: bold;
  text-align: left;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

h2,
h3 {
  font-family: "Chathura", sans-serif;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 2.2px;
  line-height: 58px;
}

.siteSummary h2 {
  letter-spacing: 0;
}

.blogOneForm input,
textarea {
  font-family: "Chathura", sans-serif;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
}

.socials {
  font-size: 30px;
}
