@import "setup";
@import "vars";

/* ----------Typography---------- */
/*font-family: 'Chathura', sans-serif;
font-family: 'Tulpen One', cursive;
*/

body {
  font-family: "Chathura", sans-serif;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
}

header nav {
  font-family: "Chathura", sans-serif;
  font-size: 38px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.brandTitle {
  font-family: "Tulpen One", cursive;
  font-size: 45px;
}
h1 {
  font-family: "Tulpen One", cursive;
  font-size: 261.4px;
  text-align: left;
  letter-spacing: 2.4px;
  font-weight: initial;
}

h1 span {
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  font-weight: bold;
  text-align: left;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

/* ----------General---------- */
body {
  max-width: 1650px;
  margin: 0 auto;
  background: $black;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* ----------Header---------- */
header {
  background: url(./../bar-final-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $offWhite;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
}

.navbarLinks ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    display: block;
    color: $offWhite;
    transition: color 0.3s ease;
  }

  a:focus,
  a:hover {
    color: $dustyOrange;
  }
}

.brandTitle {
  padding: 2rem;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10%;
}

.welcomeTitle {
  display: flex;
  align-items: center;
  padding-top: 15%;
  position: absolute;
  z-index: 2;

  h1 {
    color: $dustyOrange;
  }

  h1 span {
    display: block;
    color: $offWhite;
    padding: 3rem 0.4rem;
  }
}

.welcomeImage {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  position: relative;
  top: 7rem;
}

/* ----------.siteSummary---------- */
.siteSummary {
  background: $black;
  color: $offWhite;
  padding-top: 10%;
  margin: 5%;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    flex-basis: 50%;
    margin-bottom: 1rem;
  }

  i {
    background: $rustRed;
    padding: 0.5rem;
    width: calc(2.4rem + 0.4vw);
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
  }
}

.siteSummary p {
  padding-left: 10%;
  margin-top: 1rem;
}
