@import "setup";
@import "vars";

/* ----------Typography---------- */
/*font-family: 'Chathura', sans-serif;
font-family: 'Tulpen One', cursive;
*/

body {
  font-family: "Chathura", sans-serif;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
}

header nav {
  font-family: "Chathura", sans-serif;
  font-size: 38px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.brandTitle {
  font-family: "Tulpen One", cursive;
  font-size: 45px;
}

h1 {
  font-family: "Tulpen One", cursive;
  font-size: 261.4px;
  text-align: left;
  letter-spacing: 2.4px;
  font-weight: initial;
}

h1 span {
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  font-weight: bold;
  text-align: left;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

h3 {
  font-family: "Chathura", sans-serif;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 2.2px;
}

/* ----------General---------- */
body {
  max-width: 1650px;
  margin: 0 auto;
  background: $black;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Tulpen One", cursive;
  text-align: center;
  color: $offWhite;
  background: $rustRed;
  padding: 0.8rem 2.1rem;
  transition: color, background-color 0.3s ease;
}

.btn:focus,
.btn:hover {
  background: $offWhite;
  color: $rustRed;
}

/* ----------Header---------- */
header {
  background: url(./../bar-final-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $offWhite;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
}

.navbarLinks ul {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    display: block;
    color: $offWhite;
    transition: $transitionEffect;
  }

  a:focus,
  a:hover {
    color: $dustyOrange;
  }
}

.brandTitle {
  padding: 2rem;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10%;
}

.welcomeTitle {
  display: flex;
  align-items: center;
  padding-top: 15%;
  position: absolute;
  z-index: 2;

  h1 {
    color: $dustyOrange;
  }

  h1 span {
    display: block;
    color: $offWhite;
    padding: 3rem 0.4rem;
  }
}

.welcomeImage {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  position: relative;
  top: 7rem;
}

.hamburgerMenu {
  display: none;
}

/* ----------.siteSummary section---------- */
.siteSummary {
  background: $black;
  color: $offWhite;
  padding: 12% 5% 5% 5%;
  margin-top: 4rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    flex-basis: 50%;
    margin-bottom: 1rem;
    text-align: left;
  }

  i {
    background: $rustRed;
    padding: 0.5rem;
    width: calc(2.4rem + 0.4vw);
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
  }
}

.siteSummary a {
  text-decoration: none;
  color: $offWhite;
  transition: $transitionEffect;

  &:focus,
  &:hover {
    color: $rustRed;
  }
}

.siteSummary p {
  padding-left: 8%;
  margin-top: 1rem;
}

/* ----------.additionalInfo section---------- */
.additionalInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 10rem;
  background: $darkRed;
  color: $offWhite;
  padding-bottom: 5%;

  p {
    margin: 0;
    padding: 1rem 0 2rem 0;
  }
}

.planAheadImg img {
  position: relative;
  bottom: 2rem;
  box-shadow: 1.5rem 1.5rem $dustyOrange;
  width: 100%;
}

.planAheadText {
  margin-right: 5%;

  h3 {
    padding-top: 10%;
  }
}

.newLocationsImg img {
  box-shadow: -1.5rem 1.5rem $dustyOrange;
  width: 100%;
}

.newLocationsText {
  text-align: right;
  margin-left: 5%;
  margin-top: 10%;
}

.newLocationsText p {
  text-align: left;
}

/* ----------.partyAndEvents section---------- */
.partyAndEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $offWhite;
  margin: 10% 0;

  h3 {
    color: $dustyOrange;
  }
}

.hostAPartyText {
  margin: 0 10%;
}

.hostAPartyImg {
  margin: 10% 0;

  img {
    display: block;
    width: 100%;
  }
}

.events {
  display: flex;
  margin: 0 10%;
}

.eventsImg img {
  box-shadow: -1.5rem 1.5rem #ff8327;
}

.eventsText {
  padding: 0 8%;
  text-align: left;
}

/* ----------.imageGallery section---------- */

.imageGallery {
  background: $darkRed;
  padding: 8% 0;

  ul {
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      padding: 2rem;
    }

    img {
      width: 100%;
    }
  }
}

/* ----------Footer---------- */

footer {
  background: #474747;

  p {
    color: $offWhite;
    margin: 0 auto;
    text-align: center;
    line-height: normal;
  }
}

/* ----------Footer---------- */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .welcome {
    padding: 25% 0;
  }

  .welcomeImage {
    display: none;
  }

  .siteSummary {
    margin-top: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .siteSummary {
    margin-top: 0;
    padding: 12% 5% 12% 5%;
  }

  .siteSummary ul {
    flex-direction: column;
  }

  .siteSummary li {
    text-align: center;
  }

  .siteSummary li p {
    padding: 0;
  }

  .additionalInfo {
    grid-template-columns: 1fr;
    padding-bottom: 13%;
  }

  .gridItem4 {
    grid-row: 3/4;
  }

  .planAheadImg img,
  .newLocationsImg img {
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      0px 0px 25px 15px rgba(255, 131, 39, 0.7);
  }

  .planAheadText {
    text-align: center;
    margin: 0;
    padding: 0 3%;
  }

  .planAheadText h3 {
    padding: 0;
  }

  .newLocationsText {
    text-align: center;
    margin-left: 0;
    padding: 0 3%;
  }

  .newLocationsText p {
    text-align: center;
  }

  .events {
    flex-direction: column;
  }

  .eventsImg img {
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      0px 0px 25px 15px rgba(255, 131, 39, 0.7);
  }

  .eventsText {
    text-align: center;
    padding: 10% 0 5% 0;
  }
}

@media (max-width: 680px) {
  .navbarLinks {
    margin-bottom: 2rem;
  }

  .brandTitle {
    padding: 1rem 0.3rem;
  }
  .imageGallery {
    padding: 14% 0;
  }
  .imageGallery ul li:nth-last-of-type(2) {
    display: none;
  }

  .imageGallery ul li {
    padding: 0 0.2rem;
  }
}

@media (max-width: 600px) {
  .navbarLinks ul {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .fas {
    font-size: 30px;
    transition: $transitionEffect;
  }

  .fas:focus,
  .fas:hover {
    color: $dustyOrange;
    cursor: pointer;
  }

  .brandTitle {
    padding: 2rem 0;
  }

  .welcomeTitle h1 {
    font-size: 150px;
  }

  .welcomeTitle h1 span {
    font-size: 55px;
    padding: 1rem 0;
  }
}
