@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Chathura", sans-serif;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
}

header nav {
  font-family: "Chathura", sans-serif;
  font-size: 38px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
  font-weight: bold;
}

.brandTitle {
  font-family: "Tulpen One", cursive;
  font-size: 45px;
}

h1 {
  font-family: "Tulpen One", cursive;
  font-size: 261.4px;
  text-align: left;
  letter-spacing: 2.4px;
  font-weight: initial;
}

.blogWelcome h1,
.contactWelcome h1 {
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  font-weight: bold;
  text-align: left;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

h1 span {
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  font-weight: bold;
  text-align: left;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

.siteSummary h2 {
  letter-spacing: 0;
}

h2,
h3 {
  font-family: "Chathura", sans-serif;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 2.2px;
  line-height: 58px;
}

.blogOneForm input,
textarea {
  font-family: "Chathura", sans-serif;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
}

body {
  max-width: 1650px;
  margin: 0 auto;
  background: #111010;
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.blogWelcome,
.contactWelcome h1 {
  margin: 10% 5%;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Tulpen One", cursive;
  text-align: center;
  color: #ffffff;
  background: #bf2603;
  padding: 0.8rem 2.1rem;
  -webkit-transition: color, background-color 0.3s ease;
  transition: color, background-color 0.3s ease;
}

.btn:focus,
.btn:hover {
  background: #ffffff;
  color: #bf2603;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
}

.navbarLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbarLinks ul li {
  list-style: none;
  padding: 1rem;
}
.navbarLinks ul a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.navbarLinks ul a:focus,
.navbarLinks ul a:hover {
  color: #ff8327;
}

.brandTitle {
  padding: 2rem;
}

.hamburgerMenu {
  display: none;
}

@media (max-width: 600px) {
  .navbarLinks ul {
    display: none;
  }

  .hamburgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .fas {
    font-size: 30px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .fas:focus,
.fas:hover {
    color: #ff8327;
    cursor: pointer;
  }

  .brandTitle {
    padding: 2rem 0;
  }
}
.blogOneForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogOneForm input,
.blogOneForm textarea {
  color: #ffffff;
}

.blogOneForm input {
  border: none;
  padding: 1rem 1.5rem;
}

.blogOneForm input:nth-of-type(1) {
  margin-right: 0.8rem;
}

.blogOneForm input:nth-of-type(2) {
  margin-left: 0.8rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}

.blogOneForm textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 2rem 3rem;
  margin-top: 2rem;
}

.nameAndEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

button.btn {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

button.btn:focus,
button.btn:hover {
  cursor: pointer;
}

@media (max-width: 940px) {
  .blogOneForm input {
    padding: 0;
    margin: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .nameAndEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blogOneForm input:nth-of-type(1),
.blogOneForm input:nth-of-type(2) {
    margin: 0;
  }

  .blogOneForm textarea {
    padding-top: 0.2rem;
    padding-left: 0.1rem;
  }
}
footer {
  background: #474747;
}
footer p {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}

/* ----------HOME PAGE STYLES---------- */
/* ----------Header---------- */
.homeWrapper {
  background: url(./../bar-final-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 10%;
}

.welcomeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
  position: absolute;
  z-index: 2;
}
.welcomeTitle h1 {
  color: #ff8327;
}
.welcomeTitle h1 span {
  display: block;
  color: #ffffff;
  padding: 3rem 0.4rem;
}

.welcomeImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  top: 7rem;
}

/* ----------.siteSummary section---------- */
.siteSummary {
  background: #111010;
  padding: 12% 5% 5% 5%;
  margin-top: 4rem;
}
.siteSummary ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.siteSummary li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 1rem;
  text-align: left;
}
.siteSummary i {
  background: #bf2603;
  padding: 0.5rem;
  width: calc(2.4rem + 0.4vw);
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
}

.siteSummary a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.siteSummary a:focus, .siteSummary a:hover {
  color: #bf2603;
}

.siteSummary p {
  padding-left: 8%;
  margin-top: 1rem;
}

/* ----------.additionalInfo section---------- */
.additionalInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 10rem;
  background: #220303;
  padding-bottom: 5%;
}
.additionalInfo p {
  margin: 0;
  padding: 1rem 0 2rem 0;
}

.planAheadImg img {
  position: relative;
  bottom: 2rem;
  -webkit-box-shadow: 1.5rem 1.5rem #ff8327;
          box-shadow: 1.5rem 1.5rem #ff8327;
  width: 100%;
}

.planAheadText {
  margin-right: 5%;
}
.planAheadText h3 {
  padding-top: 10%;
}

.newLocationsImg img {
  -webkit-box-shadow: -1.5rem 1.5rem #ff8327;
          box-shadow: -1.5rem 1.5rem #ff8327;
  width: 100%;
}

.newLocationsText {
  text-align: right;
  margin-left: 5%;
  margin-top: 10%;
}

.newLocationsText p {
  text-align: left;
}

/* ----------.partyAndEvents section---------- */
.partyAndEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10% 0;
}
.partyAndEvents h3 {
  color: #ff8327;
}

.hostAPartyText {
  margin: 0 10%;
}

.hostAPartyImg {
  margin: 10% 0;
}
.hostAPartyImg img {
  display: block;
  width: 100%;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10%;
}

.eventsImg img {
  -webkit-box-shadow: -1.5rem 1.5rem #ff8327;
          box-shadow: -1.5rem 1.5rem #ff8327;
}

.eventsText {
  padding: 0 8%;
  text-align: left;
}

/* ----------.imageGallery section---------- */
.imageGallery {
  background: #220303;
  padding: 8% 0;
}
.imageGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.imageGallery ul li {
  list-style: none;
  padding: 2rem;
}
.imageGallery ul img {
  width: 100%;
}

/* ----------BLOG PAGE STYLES---------- */
/* ----------Header---------- */
.blogWrapper {
  background: url(./../bar-final-assets/blog-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ----------.missionAndNewMenu section---------- */
.missionAndNewMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.missionContainer {
  padding: 8% 7%;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #220303;
  padding: 1rem;
  width: 400px;
}

.missionText ul {
  padding-left: 1rem;
}

.missionText li {
  list-style: none;
}
.missionText li:before {
  content: "· ";
  font-size: 3rem;
  vertical-align: bottom;
  position: relative;
  top: 0.5rem;
  color: #bf2603;
}

.missionText li a {
  text-decoration: none;
  color: #ffffff;
}
.missionText li a:focus, .missionText li a:hover {
  color: #ff8327;
}

.missionImage img {
  width: 137%;
  position: relative;
  right: 6.7rem;
  bottom: 2rem;
}

.missionText p {
  margin: 0;
}

.findOutMore {
  text-decoration: none;
  color: #ff8327;
  display: inline-block;
  position: relative;
}
.findOutMore:focus, .findOutMore:hover {
  color: #bf2603;
}

.findOutMore::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 96%;
  height: 0.1rem;
  background-color: #ff8327;
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.findOutMore:hover::after,
.findOutMore:focus::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
}

.missionText h2:nth-of-type(2) {
  padding-top: 2rem;
}

.newMenuImage {
  position: relative;
  bottom: 7rem;
}

.newMenuImage img {
  width: 100%;
  -webkit-box-shadow: -1.5rem 1.5rem #ff8327;
          box-shadow: -1.5rem 1.5rem #ff8327;
}

.newMenuText {
  position: relative;
  bottom: 6rem;
  right: 1.5rem;
  border-left: 5px solid #ff8327;
  border-bottom: 5px solid #ff8327;
  padding: 4rem 4rem 4rem 6rem;
}

.newMenuText p:nth-of-type(1) {
  margin: 0;
  color: #ff8327;
}

/* ----------.commentSection section---------- */
.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 4rem;
}

.comments {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  width: 100%;
}
.comments li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comments li img {
  width: 250px;
  height: 130px;
  padding-right: 2rem;
}

.comments li:nth-of-type(2) {
  margin: 5rem 0;
}

.comment1 p:nth-of-type(1),
.comment2 p:nth-of-type(1) {
  font-size: 45px;
  color: #ff8327;
  margin-bottom: 0.5rem;
}

.comment1 p,
.comment2 p {
  margin: 0;
}

.blogForm input,
.blogForm textarea {
  background: #111010;
}

.blogForm input {
  border-bottom: 2px solid #ff8327;
}

.blogForm textarea {
  border: 2px solid #ff8327;
}

/* ----------CONTACT PAGE STYLES---------- */
/* ----------Header---------- */
.contactWrapper {
  background: url(./../bar-final-assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ----------.getInTouch section---------- */
.getInTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialsContactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-top: 9rem;
}

.socialsAndContactInfo .fab {
  padding-right: 1rem;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.socialsAndContactInfo .fab:focus, .socialsAndContactInfo .fab:hover {
  color: #ff8327;
}

.socialsAndContactInfo p {
  margin: 0;
  padding-bottom: 0.2rem;
}
.socialsAndContactInfo p a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.socialsAndContactInfo p a:focus,
.socialsAndContactInfo p a:hover {
  color: #ff8327;
}

.socialsAndContactInfo p:nth-of-type(1) {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.formContainer {
  background: #220303;
  position: relative;
  bottom: 6rem;
  -webkit-box-shadow: 1.5rem 1.5rem #ff8327;
          box-shadow: 1.5rem 1.5rem #ff8327;
}

.contactForm {
  padding: 2rem;
}

.contactForm input,
.contactForm textarea {
  background: #220303;
}

.contactForm input {
  border-bottom: 3px solid #ffffff;
}

.contactForm textarea {
  border: 3px solid #ffffff;
  height: 250px;
}

.contactForm button {
  border: none;
}

/* ----------MEDIA QUERIES---------- */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  /* ---Home Page--- */
  .welcome {
    padding: 25% 0;
  }

  .welcomeImage {
    display: none;
  }

  .siteSummary {
    margin-top: 0;
  }

  /* ---Blog Page--- */
  .missionContainer {
    padding: 0;
    margin: 4% 7% 0% 3.5%;
  }

  .newMenuText {
    padding: 3rem 2rem 3rem 2rem;
  }

  .missionImage img {
    width: 100%;
    position: initial;
  }

  .commentSection {
    padding: 0;
  }

  .comments {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  /* ---Home Page--- */
  .siteSummary {
    margin-top: 0;
    padding: 12% 5% 12% 5%;
  }

  .siteSummary ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .siteSummary li {
    text-align: center;
  }

  .siteSummary li p {
    padding: 0;
  }

  .additionalInfo {
    grid-template-columns: 1fr;
    padding-bottom: 20%;
  }

  .gridItem4 {
    grid-row: 3/4;
  }

  .planAheadImg img,
.newLocationsImg img {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
  }

  .planAheadText {
    text-align: center;
    margin: 0;
    padding: 0 3%;
  }

  .planAheadText h3 {
    padding: 0;
  }

  .newLocationsText {
    text-align: center;
    margin-left: 0;
    padding: 0 3%;
  }

  .newLocationsText p {
    text-align: center;
  }

  .events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .eventsImg img {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
  }

  .eventsText {
    text-align: center;
    padding: 10% 0 5% 0;
  }

  /* ---Blog Page--- */
  .missionAndNewMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mission {
    width: 100%;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
    margin: 2rem 0;
  }

  .missionContainer {
    margin-right: 4%;
  }

  .newMenu {
    margin-top: 2rem;
  }

  .newMenuImage,
.newMenuText {
    position: initial;
  }

  .newMenuImage img {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 15px rgba(255, 131, 39, 0.7);
  }

  .newMenuText {
    border: 2px solid #ff8327;
    margin-top: 1rem;
  }

  .comments {
    margin-top: 2rem;
    padding: 1rem;
  }
}
@media (max-width: 680px) {
  /* ---Home Page--- */
  .navbarLinks {
    margin-bottom: 2rem;
  }

  .brandTitle {
    padding: 1rem 0.2rem;
  }

  .imageGallery {
    padding: 14% 0;
  }

  .imageGallery ul li:nth-last-of-type(2) {
    display: none;
  }

  .imageGallery ul li {
    padding: 0 0.2rem;
  }
}
@media (max-width: 600px) {
  /* ---Home Page--- */
  .welcomeTitle h1 {
    font-size: 150px;
  }

  .welcomeTitle h1 span {
    font-size: 55px;
    padding: 1rem 0.1rem;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* ---Blog Page--- */
  .comments h3 {
    margin-bottom: 1rem;
  }

  .comments li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .comments li img {
    height: auto;
  }
}